.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

footer {
    background-color: black;
    padding: 25px;
    color: gainsboro;
}
.btn-default{
    background-color: #0099CC;
    border-color: #0099CC;
    color: white;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #CCCCCC;
    background-color: #336699;
    border-color: #336699;
}
.pre-scrollable {
    max-height: 620px;
}
.col-center-block{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}